#maxi-form-administrar{
  height: 100%;
  width: 95%;
}
#form-busqueda input {
  display: inline;
}

.fragmento-busqueda {
  display: none;
}

.input-busqueda {
  width: 100%;
  height: 20px;
}

#slider-puntuacion-servicio, #slider-puntuacion-servicio div {
  padding: 0;
}

#slider-puntuacion-servicio {
  margin: 15px 1px;
}

#input-categoria-servicio {
  width: 200px;
}

.fragmento-busqueda > label {
  margin: 20px 0 5px 0;;
}

#selector-tipo-busqueda > label {
  margin: 10px 30px;
  display: inline;
}

.estilotextarea {
  border: 2px solid orange;
}

.input-busqueda {
  width: 100%;
  border: 1px solid darkorange;
}

.label-busqueda {
  margin-top: 20px;
}

.busqueda-box {
  float: left;
  width: 65%;
  margin: 15px;
}

.boton-enviar-busqueda {
  float: right;
  margin: 20px 0;
}
