/*#contenedor-fragmentos {
  height: 500px;
}*/

#form-busqueda input {
  display: inline;
}

.fragmento-busqueda {
  display: none;
}

.input-busqueda {
  width: 100%;
  height: 20px;
}

#slider-puntuacion-servicio, #slider-puntuacion-servicio div {
  padding: 0;
}

#slider-puntuacion-servicio {
  margin: 15px 1px;
}

#input-categoria-servicio {
  width: 200px;
}

.fragmento-busqueda > label {
  margin: 20px 0 5px 0;;
}

#selector-tipo-busqueda > label {
  margin: 10px 30px;
  display: inline;contenedor-fragmentos
}
