.contenido-bloque {
  border: 1px solid darkgray;
  min-height: 100px;
  margin: 40px 20px;
  padding: 20px;
  box-shadow: 0 5px 10px #666;
  border-radius: 5px;
  background: #fcfcfc;
}

.contenido-titulo {
  color: darkorange;
  font-size: 36px;
  margin: 15px 0;
  text-shadow: rgba(255,255,255,0.1) -1px -1px 1px,rgba(0,0,0,0.5) 1px 1px 1px;
}

.contenido-info {
  font-style: italic;
  font-size: 0.9em;
  color: gray;
}

.contenido-texto {
  margin: 40px 0;
	text-align: justify;
}

.contenido-admin {
  font-style: italic;
  font-size: 0.8em;
}

.tituloServicio{
  padding-top: 20px;
  color: #A68337;
  font-size: 25px;
  font-style: verdana;
  padding-left: 22px;
}
.contenido-servicios{
  width: 650px;
  height: 250px;
  float: left;
  border: 1px solid darkgray;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  box-shadow: 0 5px 10px #666;
  border-radius: 5px;
  background: #fcfcfc;
}
.contenido-servicios-patrocinado{
}
.servicio-titulo{
  padding-top: 10px;
  padding-left: 35px;
  float: left;
  width: 300px;
  color: darkorange;
  font-size: 25px;
  margin: 5px 0;
  text-shadow: rgba(255,255,255,0.1) -1px -1px 1px,rgba(0,0,0,0.5) 1px 1px 1px;
}
.imagen-puntuacion{
  width: 170px;
  height: 250px;
  float: left;
}
.servicio-imagen{
  padding-top: 20px;
  padding-left: 15px;
  width: 150px;
  height: 150px;
}
.servicio-ubicacion{
  font-family: Helvetica;
  padding-left: 35px;
  padding-bottom: 3px;
  height: 20px;
  width: 300px;
  font-size: 17px;
  font-style: bold;
  color: #A49E90;
  float: left;
}
.servicio-telefono{
  float: left;
  padding-left: 35px;
  width: 300px;
  max-height: 20px;
  font-size: 15px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  color: #F2AF1E;
  padding-bottom: 5px;
}
.servicio-contenido{
  font-style: italic;
  color: #A49E80;
  font-size: 14px;
  width: 300px;
  height: 130px;
  padding-left: 35px;
  float: left;
}
.servicio-url{
  font-size: 15px;
  width: 300px;
  padding-left: 35px;
  padding-bottom: 10px;
  float: left;
}
.servicio-puntuacion{
  width: 100px;
  max-height: 20px;
  font-size: 15px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  color: #F2AF1E;
  padding-bottom: 5px;
}
.servicio-patrocinado{
  font-style: italic;
  font-weight: bold;
  color: white;
  font-size: 12px;
  padding: 5px 0;
  text-align: center;
  background-color: darkorange;
}
.estrellasMedia{
  width: 140px;
  padding-left: 28px;
}
.estrellasMedia a{
  background-image: url('../img/patapuntuacionRellena.png');
  background-size: 25px;
  display: inline-block;
  height: 24px;
  width: 24px;
}
.puntuacion-usuario{
  padding-left: 30px;
}

.contenido-boton {
  float: right;
}

.titulo-contenedor {
  border-bottom: 1px solid darkgray;
  margin: 30px 20px;
  padding: 0 20px;
}

.titulo-contenedor > h1 {
  color: darkorange;
  font-size: 25px;
  font-weight: lighter;
  margin: 1px;
}

#contenido {
  float: left;
  width: 70%;
}

#contenedor-servicios{
  float:left;
  padding-bottom: 40px;
  max-height: 1500px;
  max-width: 700px;
}

.input-textarea {
  border: 1px solid gray;
  width: 100%;
  margin: 15px 0;
}

.contenido-titulo-input {
  font-size: 20px;
}

.contenido-titulo-menor {
  font-size: 20px;
  margin: 10px 0;
}
