.contenido-bloque {
  border: 1px solid orange;
  min-height: 100px;

  float: left;
  width: 600px;
  margin: 40px 20px;
  padding: 20px;

  box-shadow: 0 5px 10px #666;
  border-radius: 5px;
  background: #fbfbfb;
}

.contenido-titulo {
  color: orange;
  font-size: 36px;
  margin: 15px 0;
  text-shadow: rgba(255,255,255,0.1) -1px -1px 1px,rgba(0,0,0,0.5) 1px 1px 1px;
}

.contenido-info {
  font-style: italic;
  font-size: 0.9em;
  color: gray;
}

.contenido-texto {
  margin: 40px 0;
	text-align: justify;
}

.contenido-admin {
  font-style: italic;
  font-size: 0.8em;
}

/*Tabla servicios*/

table{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 15px;
  border: 3px dashed orange;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 10px;
  max-width: 620px;
  float: left;
}
td{
  padding-left: 5px;
  max-height: 150px;
}

.contenido-boton-editar {
  float: right;
}
